*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--c-black-primary);
    background-color: var(--c-white);

    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2 {
    font-size: 38px;
    line-height: 48px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}