:root {
    /* Colors */
    --c-black-primary: #000000;

    --c-white: #FFFFFF;

    --c-blue-primary: #E0EBF4;
    --c-blue-secondary: #C9E8F5;
    --c-blue-tertiary: #635BFF;

    --c-gold: #FFD140;

    /* Fonts */
    --ff-primary: "Inter";
    --ff-secondary: "AvenirNext";
}