:root {
    /* Colors */
    --c-black-primary: #000000;

    --c-white: #FFFFFF;

    --c-blue-primary: #E0EBF4;
    --c-blue-secondary: #C9E8F5;
    --c-blue-tertiary: #635BFF;
    --c-silver-blue: #5F93C0;

    --c-cultured: #F4F4F4;

    --c-gold: #FFD140;

    --c-navy: #283849;

    /* Fonts */
    --ff-primary: "Inter";
    --ff-secondary: "AvenirNext";
}