/* Containers */
.container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.container-max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.container-small {
    max-width: 968px;
    padding: 0 20px;
    margin: 0 auto;
}

.col {
    display: flex;
    flex-direction: column;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.row-align-items-center {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 22px;
}

/* For Colors */
.is-blue-bg-primary {
    background-color: var(--c-blue-primary);
}

.is-blue-bg-secondary {
    background-color: var(--c-blue-secondary);
}

.is-blue-bg-tertiary {
    background-color: var(--c-blue-tertiary);
}

.is-black-bg-primary {
    background-color: var(--c-black-primary);
}

.is-gold-bg {
    background-color: var(--c-gold);
}

.is-white-bg {
    background-color: var(--c-white);
}

.is-navy-bg {
    background-color: var(--c-navy);
}

.is-silver-blue-bg {
    background-color: var(--c-silver-blue);
}

.is-cultured-bg {
    background-color: var(--c-cultured);
}

.is-black-text {
    color: var(--c-black-primary);
}

.is-white-text {
    color: var(--c-white);
}

/* Text Size */
.is-text-small {
    font-size: 14px;
}

/* Flex */
.text-align-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-horizontal-center {
    display: flex;
    justify-content: center;
}