<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Subtitle Row</title>

    <!-- Components CSS -->
    <link rel="stylesheet" href="../css/components/title-subtitle-row.css">

    <!-- Globals CSS -->
    <link rel="stylesheet" href="../css/globals/base.css">
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="../css/globals/root.css">
    <link rel="stylesheet" href="../css/globals/utilities.css">
</head>
<body>

    <div class="row-space-between align-items-last-baseline">
        <h2 class="title_subtitle__title">More than just a scheduling tool.</h2>
        <p class="title_subtitle__subtitle">
            A cohesive, user-friendly scheduling software made to support you every step of the way.
        </p>
    </div>
    
</body>
</html>