.slider-wrap {
 
}

.slider-btn {
    justify-content: flex-end;
    margin-right: 8px;
    gap: 20px;
    margin-bottom: 30px;
}

#backBtn, #nextBtn {
    height: 12px;
    width: 15px;
    cursor: pointer;
}

.slider--infinite {
    width: 100%;
    overflow-x: scroll;
}

.slider {
    width: 100%;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

/* Animation */
@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(-100%);
    }
}

.slides--infinite {
    gap: 20px;
    padding: 10px;
    animation: infiniteScroll 50s linear infinite;
}

.slides {
    gap: 20px;
    padding: 10px;
}

.slide--infinite {
    width: 400px;
    object-fit: cover;
    height: 224px;
}

.slide {
    width: 350px;
    object-fit: cover;
    height: 240px;
}