.slider-btn {
    justify-content: flex-end;
    margin-right: 8px;
    gap: 20px;
    margin-bottom: 30px;
}

#backBtn, #nextBtn {
    height: 12px;
    width: 15px;
    cursor: pointer;
}

.slider--infinite, .slider {
    width: 100%;
    overflow-x: scroll;
    overflow: hidden;
}

.slider--infinite::-webkit-scrollbar, .slider::-webkit-scrollbar {
    display: none;
}

/* Animation */
@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(-100%);
    }
}

.slides--infinite {
    gap: 20px;
    animation: infiniteScroll 50s linear infinite;
    padding-right: 20px;
}

.slides {
    gap: 20px;
    padding-right: 20px;
}

.slide--infinite {
    width: 400px;
    object-fit: cover;
    height: 224px;
}

.slide {
    width: 350px;
    object-fit: cover;
    height: 240px;
}

@media screen and (max-width: 800px) {
    .slide--infinite {
        width: 300px;
        object-fit: cover;
        height: 224px;
    }
    
    .slide {
        width: 350px;
        object-fit: cover;
        height: 240px;
    }
}