.content-grid {
    font-family: var(--ff-secondary);
    padding: 200px 100px 0 100px;
    counter-reset: cardNumber;
}

.content-grid__grid {
    padding-top: 64px;
}

.content-grid__row {
    margin: 0 auto;
}

.content-grid__content {
    max-width: 264px;
}

.content-grid__content::before {
    counter-increment: cardNumber;
    content: counter(cardNumber, decimal-leading-zero);
    font-size: 21px;
    font-family: var(--ff-primary);
    position: relative;
    bottom: 10px;
}

.content-grid__subtitle {
    font-weight: 500;
    position: relative;
    padding-top: 24px;
}

.content-grid__info {
    padding: 0 62px 72px 0;
}

@media screen and (max-width: 1000px) {
    .content-grid {
        font-family: var(--ff-secondary);
        padding: 0;
        padding-top: 200px;
    }
}

@media screen and (max-width: 576px) {
    .content-grid__info {
        padding: 0 0px 72px 0;
    }

    .content-grid__content {
        max-width: 200px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 440px) {
    .content-grid__content {
        padding: 0;
        margin: 0 auto;
    }
}