.content-media {
    padding: 40px;
    margin-top: 40px;
    gap: 20px;
}

.content-media__content, .content-media__content--vertical {
    margin: 60px 0;
    margin-left: 88px;
    margin-bottom: 100px;
    max-width: 420px;
}

.content-media__content--col {
    padding-left: 0px;
    padding-bottom: 84px;
    padding-top: 200px;
    max-width: 572px;
    margin: 0 auto;
}

.content-media__title {
    font-weight: 500;
}

.content-media__info {
    padding-top: 24px;
}

.content-media__links {
    padding-top: 48px;
    gap: 24px;
    text-decoration: underline;
}

.content-media__media {
    width: 100%;
    max-width: 558px;
}

.content-media__media--col {
    max-width: 718px;
}

.content-media__img {
    height: auto;
}

@media screen and (max-width: 1240px) {
    .content-media__content {
        text-align: left;
        margin: 40px 0;
        margin-bottom: 60px;
        max-width: 320px;
    }

    .content-media__content--col {
        max-width: 572px;
        margin: 0 auto;
    }

    .content-media__media {
        width: 100%;
        max-width: none;
        padding: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .content-media {
        margin-top: 40px;
        padding: 40px 20px;
    }

    .content-media__content {
        max-width: 420px;
    }

    .content-media__content--col {
        max-width: 572px;
        margin: 0 auto;
    }
}