footer {
    font-family: "AvenirNext";
    padding: 40px 0;
    margin: 20px 0 36px 0;
}

footer li {
    list-style: none;
    padding-bottom: 14px;
    margin-right: 100px;
}

.footer__subtitle {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.6;
}

.footer__links {
    padding-left: 20px;
    text-align: left;
}

.is-two-columns {
    column-count: 2;
}

@media screen and (max-width: 1000px) {
    .footer__links {
        padding: 0;
        padding-top: 40px;
        text-align: center;
        font-size: 20px;
    }

    .footer__subtitle {
        font-size: 20px;
        padding-top: 40px;
    }

    .is-two-columns {
        column-count: 1;
    }

    footer li {
        margin-right: 0;
    }
}