.hero-slider {
    max-width: 554px;
    margin: 0 auto;
}

.hero-slider__title {
    padding-top: 164px;
    font-weight: 500;
}

.hero-slider__info {
    padding-top: 16px; 
    padding-bottom: 44px;
}

.hero-slider__button {
    padding: 12px 24px;
    border-radius: 12px;
}

.hero-slider__button-subtitle {
    margin-top: 24px;
    font-size: 12px;
    line-height: 19px;
}

.hero-slider__slider {
    width: 100%;
    height: 224px;
    padding-top: 64px;
    padding-bottom: 90px;
}