nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 27px 40px;

    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    width: 95%;
}

nav ul, nav li {
    text-decoration: none;
    list-style: none;
    gap: 40px;
}

nav a {
    background-color: var(--c-navy);
    color: var(--c-white);
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 12px;
}

.nav__hamburger {
    border: none;
    background-color: var(--c-white);
    height: 28px;
    display: none;
}

.nav__hamburger img {
    height: inherit;
}

@media screen and (max-width: 800px) {
    nav ul, nav li {
        display: none;
    }

    .nav__hamburger {
        display: block;
    }
}