nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 27px 40px;

    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    width: 95%;
}

nav ul {
    text-decoration: none;
    list-style: none;
    gap: 40px;
}

nav a {
    background-color: var(--c-navy);
    color: var(--c-white);
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 12px;
}