.showcase {
    margin-top: 70px;
}

.showcase-row {
    padding: 64px 40px;
    gap: 24px;
}

.showcase-subtitle {
    padding: 0 20px;
    padding-top: 64px;
}

.showcase-item {
    height: 140px;
    width: 217px;
    border-radius: 100px;
}

@media screen and (max-width: 500px) {
    .showcase-row {
        padding: 52px 0px;
        gap: 20px;
    }

    .showcase-item {
        height: 140px;
        width: 217px;
        border-radius: 100px;
    }

}