.showcase {
    margin-top: 20px;
}

.showcase-row {
    padding: 64px 90px;
    gap: 20px;
}

.showcase-subtitle {
    padding-top: 64px;
}

.showcase-item {
    height: 140px;
    width: 217px;
    border-radius: 100px;
}

@media screen and (max-width: 500px) {
    .showcase-item {

    }
}